@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
.error {
    color: rgba(255, 0, 51, 0.74);
}
.cen {
    display: flex;
    padding: 5px;
    justify-content: center;
}
body {
    margin: 0;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background: var(--tg-theme-bg-color);
    min-height: auto;
}
h2, h3 {
    text-align: center;
    color: black;
}
button, input {
    margin: 5px auto;
    display: block;
    width: 80%;
    max-width: 300px;
}
.box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(83, 83, 83);
    border-radius: 20px;
    border: 5px solid rgb(124, 124, 124);
}
